<div class="row p-sm-5">

  <div class="col-sm-2 col-xl-5">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto ducimus explicabo saepe exercitationem sit molestias dolore quisquam fuga odio odit, quasi, nemo aspernatur provident minima modi quam eum hic neque fugiat voluptatibus.</p>
  </div>
  
  <div class="col-sm-4 col-xl-4">
    <h2>Upcomming Events</h2>

    <ul class="list-group my-4">
      <% @future_events.each do |event| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <h5><%= link_to event.event_name, event_path(event) %></h5>
          <p><%= event.location %></p>
          <p><%= event.date %></p>
        </li>
      <% end %>
    </ul>
    <small><%= link_to "All Events", events_path %></small>
  </div>

  <div class="col-sm-6 col-xl-3">

    <h2>Members</h2>
    <ul class="list-group my-4">
      <% @users.each do |user| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to user.username, user_path(user) %>
          <span class="badge badge-primary badge-pill"><%= user.events.count %></span>
        </li>
      <% end %>
    </ul>

  </div>

</div>