<div class="row">

 <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title"><%= @event.event_name %></h3>
        <h6 class="card-subtitle mb-2 text-muted"><small><%= @event.date %></small></h6>
        <h6 class="card-subtitle mb-2 text-muted"><%= @event.location %></h6>
        <p class="card-text"><%= @event.description %></p>

        <!--signup button-->
        <% if user_signed_in? && Event.future.exists?(@event.id) %>
          <%= form_with(url: "/invitations", method: "post") do %>
            <%= hidden_field_tag(:user_id, @user.id) %>
            <%= hidden_field_tag(:event_id, @event.id) %>
            <%= submit_tag("Sign Up") %>
          <% end %>
        <% end %>
        <div class="mt-4">
        <%= link_to "<< Back", events_path %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg">
    <ul class="list-group">
      <% @event.attendees.each do |attendee| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-2">
              <%= image_tag "round-profile-image-placeholder.png", size: "80x80", class: "img-fluid img-thumbnail" %>
            </div>
            <div class="col">
              <p><%= attendee.name %></p>
              <p><%= attendee.username %></p>
              <%= link_to "View Profile", user_path(attendee) %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>